{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .main-div {
            margin: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="container page-top">
        <h1>About</h1>
    </div>
    <br>
    <div class="container">
        <p>This is un initial version of ER-PB website,
            developed by <a href="https://www.linkedin.com/in/yuli-tshuva-163ba32bb/"><b>Yuli Tshuva</b></a> at the
            <a href="https://yolo.math.biu.ac.il/">YOLO Lab</a>.</p>

    </div>

{% endblock %}
