{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .main-div {
            margin: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container page-top">
        <br>
        <h1>Example</h1>
    </div>
    <br>
    <div class="container">
        <p>A patient in her first pregnancy is admitted to the obstetric emergency room due to premature contractions. She is currently at 31+4 weeks gestation. She had a previous hospitalization two weeks ago with the same complaints, and no treatment was administered then.</p>
        <p>Her glucose during one-hour oral glucose challenge test performed at 27 weeks gestation was 104 mg/dL.</p>
        <p>During her current admission, her maximal pulse is 105 beats per minute, her cervical length is measured 15 mm, she has a cervical dilation of 1 cm. Her hemoglobin is 8.7 g/dL, fetal weight estimation is 1680 grams and her amniotic fluid index is currently 90 mm.</p>
        <p>What is her absolute risk for imminent delivery within 2 days, within 7 days, and before 34 weeks?</p>
        <p>Parity = 0</p>
        <p>Living Children = 0</p>
        <p>Gestational Age = 31 weeks and 4 days</p>
        <p>Previous hospitalizations during pregnancy = yes</p>
        <p>Premature preterm rupture of membranes (pPROM) = no</p>
        <p>GCT score = 104 mg/dL</p>
        <p>Maximal pulse at admission = 105</p>
        <p>Cervical shortening = yes</p>
        <p>Cervical dilation = 1</p>
        <p>Hemoglobin at admission = 8.7</p>
        <p>Amniotic Fluid Index at admission = 90</p>
        <p>Estimated Fetal Weight = 1680 g</p>
        <p>Number of fetuses = 1</p>
    </div>
{% endblock %}

